<div id="authed-main-header">
  <p>ポスト</p>    
</div>
<form action="/post-content" method="post" id="post-form">
  <textarea type="text" name="content" placeholder="いまなにしてる？"></textarea>
  <button type="submit">ポストする</button>
</form>
<!-- 穴埋めをしよう -->
<% @posts.each do |a| %>
  <a href="/posts/<%= a.id %>"  class="post">
    <div class="post-info">
      <p class="post-user-name"><%= a.user.name %></p>
      <p class="post-user-id"><%= a.user.id %></p>
      <p class="post-created-at"><%= a.created_at.strftime("%Y/%m/%d %H:%M:%S") %></p>
      <p class="post"><%= a.content%></p>
    </div>
      <div class="post-comment-info">
      <img src="/img/comment.svg" alt="comment" width="21px" height="21px">
      <p><%= a.comments.count %></p>
    </div>
  </a>
<% end %>